node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads

# Editor
.idea
.vscode
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
